<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="~{fragments :: head}"></div>

<body>

<div th:insert="~{fragments :: navbar}"></div>

<img th:src="@{/images/main_banner.jpg}" class="img-fluid"/>


<div class="row justify-content-md-center my-3">
    <div class="col-md-2">
        <div class="card border-primary h-100">
            <img src="/images/icons/icon1.jpg" class="rounded mx-auto d-block" width="80"
                 height="80" alt="" title="">
            <div class="card-body">
                <p class="text-center"><strong>На 40% доступнее дилера.</strong> Экономьте вместе с нашим автосервисом
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card border-primary h-100">
            <img src="/images/icons/icon2.jpg" class="rounded mx-auto d-block" width="80"
                 height="80" alt="" title="">
            <div class="card-body">
                <p class="text-center">Техническое обслуживание автомобилей с <strong>сохранением гарантии</strong>
                    автопроизводителя</p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card border-primary h-100">
            <img src="/images/icons/icon3.jpg" class="rounded mx-auto d-block" width="80"
                 height="80" alt="" title="">
            <div class="card-body">
                <p class="text-center">Диагностика автомобилей по 18 пунктам <strong>всегда бесплатно!</strong></p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card border-primary h-100">
            <img src="/images/icons/icon4.jpg" class="rounded mx-auto d-block" width="80"
                 height="80" alt="" title="">
            <div class="card-body">
                <p class="text-center">Качественные запчасти - в наличии <strong>по оптовым ценам</strong></p>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card border-primary h-100">
            <img src="/images/icons/icon5.jpg" class="rounded mx-auto d-block" width="80"
                 height="80" alt="" title="">
            <div class="card-body">
                <p class="text-center">Быстрый, доступный и профессиональный <strong>ремонт автомобилей с гарантией до 1
                    года.</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="container">
        <div class="row justify-content-md-center my-3">
            <div class="col-md-10">
                <h3>О нашем автосервисе</h3>
                <div class="height">
                    <p>
                        Многопрофильный <strong>автосервис X-Service в Ростове-на-Дону</strong> - это СТО по ремонту
                        иномарок любой сложности.
                    </p>
                    <p>
                        Надежная репутация наших специалистов и положительные отзывы - это главные ценности
                        компании.
                    </p>
                    <p>
                        Наши клиенты – частные автовладельцы и бизнесы с крупными автопарками. Все они
                        заинтересованы в том, чтобы их авто достойно выглядели, а также надежно и предсказуемо вели
                        себя на дороге. Мы помогаем решать эти задачи все большему количеству клиентов.<br>
                    </p>
                    <h4>ГАРАНТИЯ НА ВСЕ ВИДЫ РАБОТ И ЗАПЧАСТИ ДО 1 ГОДА</h4>
                    <p>
                        При покупке запчастей и расходных материалов в нашем автомобильном сервисе распространяется
                        гарантия:
                    </p>
                    <ul>
                        <li>12 месяцев - на оригинальные запчасти</li>
                        <li>6 месяцев - на не оригинальные запчасти и расходные материалы</li>
                    </ul>
                    <p>
                        Мы предоставляем широкий спектр услуг по авторемонту и техническому обслуживанию
                        автомобилей, а также имеем свой склад запасных частей и расходных материалов, что позволяет
                        нашим клиентам приобретать запчасти у нас быстро и недорого.
                    </p>
                    <h4>ОСНОВНЫЕ УСЛУГИ ПО РЕМОНТУ АВТОМОБИЛЕЙ В НАШЕМ АВТОСЕРВИСЕ:</h4>
                    <ul>
                        <li>Техническое обслуживание и замена масел;</li>
                        <li>диагностика всех агрегатов;</li>
                        <li>ремонт двигателей и подвески;</li>
                        <li>ремонт и обслуживание всех типов КПП и тормозных систем;</li>
                        <li>замена узлов выхлопной системы;</li>
                        <li>кузовной ремонт и покраска легковых автомобилей;</li>
                    </ul>
                    <p>
                        Мы по-настоящему заботимся о вашем автомобиле.
                    </p>
                    <p>
                        Спасибо, что вы с нами!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragments :: BootstrapJS}"></div>

</body>
</html>