<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="~{fragments :: head}"></div>

<body>

<div th:insert="~{fragments :: navbar}"></div>

<h1>Login</h1>

<div th:if="${param.error}">
    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
</div>

<form method="POST" th:action="@{/login}" >
    <label for="username"> Имя: </label>
    <input type="text"  class="form-control" id="username" name="username"/>
    <br/>
    <label for="password"> Пароль: </label>
    <input type="password" class="form-control" id="password" name="password"/>
    <br/>
    <input type="submit" value="Войти"/>
</form>

<p> Ещё не зарегистрированы? <a th:href="@{/register}">Регистрация</a> </p>

<div th:insert="~{fragments :: BootstrapJS}"></div>

</body>
</html>