<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="~{fragments :: head}"></div>

<body>

<div th:insert="~{fragments :: navbar}"></div>

<div class="container my-5">
    <div class="row justify-content-md-center">

        <div class="col col-lg-2"></div>

        <div class="col-md-3">
            <div class="row my-2" th:if="${activationMessage}">
                <div class="alert alert-success" th:if="${isActivationSuccess}" th:text="${activationMessage}"></div>
                <div class="alert alert-danger" th:unless="${isActivationSuccess}" th:text="${activationMessage}"></div>
            </div>

            <form method="post" th:action="@{/login}" class="form">

                <div class="row my-2" th:if="${param.error}">
                    <div class="alert alert-danger"> Некорректные данные </div>
                </div>

                <div class="row my-2">
                    <input class="form-control" type="text" id="username" name="username" placeholder="Логин"/>
                </div>

                <div class="row my-2">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Пароль"/>
                </div>

                <div class="row my-2">
                    <input type="submit" class="btn btn-primary" value="Войти">
                </div>
            </form>

            <div class="row my-3">
                <a class="btn btn-success" th:href="@{/register}"> Регистрация </a>
            </div>
        </div>

        <div class="col col-lg-2"></div>

    </div>
</div>

<div th:insert="~{fragments :: BootstrapJS}"></div>

</body>
</html>