<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car service</title>
</head>
<body>
<h1>Choose services:</h1>
<form method="POST" th:action="@{/order}" th:object="${order}">
    <h3>Choose your service:</h3>
    <div th:each="service : ${serviceList}">
        <input type="checkbox" th:field="*{chosenServices}" th:value="${service.id}">
        <span th:text="${service.description}">SERVICE</span><br/>
    </div>
    <h4>Choose available time:</h4>
    <select th:field="*{selectedSlot}">
        <option th:each="timeSlot : ${timeSlotsList}"
                th:value="${timeSlot.id}"
                th:text="#{${timeSlot.day + timeSlot.time}}">Wireframe</option>
    </select>
    <div>
        <button>Make order</button>
    </div>
</form>
</body>
</html>