<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="~{fragments :: head}"></div>

<body>

<div th:insert="~{fragments :: navbar}"></div>

<h1>Register</h1>

<div th:if="usernameError"??> ${usernameError} </div>

<form method="POST" th:action="@{/register}" th:object="${user}">
    <label for="username"> Имя: </label>
    <input type="text" th:field="*{username}" class="small" th:errorclass="fieldError" id="username"/>
    <br/>
    <p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Incorrect date</p>
    <label for="password"> Пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <label for="email"> Email: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="phoneNumber"> Номер телефона: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number error</div>
    <br/>
    <input type="submit" value="Регистрация"/>
</form>

<div th:insert="~{fragments :: BootstrapJS}"></div>

</body>
</html>