<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="~{fragments :: head}"></div>

<body>

<div th:insert="~{fragments :: navbar}"></div>


<div class="container my-5">

    <div class="row justify-content-md-center">

        <div class="col col-lg-2"></div>

        <div class="col-md-3">
            <form th:action="@{/register}" th:object="${user}" method="post" class="form">

                <div class="row my-2">
                    <input class="form-control" type="text" th:field="*{username}" id="username" placeholder="Логин"
                           aria-describedby="usernameHelp"/>
                    <div id="usernameHelp" class="form-text">Минимум четыре символа</div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}"
                         th:errors="*{username}"></div>
                </div>

                <div class="row my-2">
                    <input class="form-control" type="text" th:field="*{password}" id="password" placeholder="Пароль"
                           aria-describedby="passwordHelp"/>
                    <div id="passwordHelp" class="form-text">Минимум шесть символов</div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>

                <div class="row my-2">
                    <input class="form-control" type="text" name="passwordConfirmation"
                           placeholder="Подтвердите пароль"/>
                    <div class="alert alert-danger" th:if="${passwordConfirmationError}"
                         th:text="${passwordConfirmationError}"></div>
                </div>

                <div class="row my-2">
                    <input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Email">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>

                <div class="row my-2">
                    <input class="form-control" type="text" th:field="*{phoneNumber}" id="phoneNumber"
                           placeholder="Номер телефона" aria-describedby="phoneNumberHelp">
                    <div id="phoneNumberHelp" class="form-text">В любом формате</div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                         th:errors="*{phoneNumber}"></div>
                </div>

                <div class="row my-3">
                    <div class="g-recaptcha" data-sitekey="6LcCaOoeAAAAAIOLUXA0vr454j2Jx8468pK6dt3T"></div>
                    <div class="alert alert-danger" th:if="${recaptchaError}" th:text="${recaptchaError}"></div>
                </div>

                <div class="row my-2">
                    <input type="submit" class="btn btn-success" value="Регистрация">
                    <div class="alert alert-danger" th:if="${usernameError}"
                         th:text="${usernameError}"></div>
                </div>
            </form>

            <div class="row my-3">
                <a class="btn btn-primary" th:href="@{/login}"> Вернуться на страницу входа </a>
            </div>
        </div>

        <div class="col col-lg-2"></div>

    </div>
</div>


<div th:insert="~{fragments :: BootstrapJS}"></div>

</body>
</html>