<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:insert="~{fragments :: head}"></div>

<body>

<div th:insert="~{fragments :: navbar}"></div>

<img th:src="@{/images/main_banner.jpg}" class="img-fluid"/>

<form method="post" th:action="@{/service_order}" th:object="${Order}">
    <div class="d-grid gap-2 col-8 mx-auto my-2">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#type1"
                aria-expanded="false" aria-controls="type1">
            Техническое обслуживание
        </button>
        <div class="collapse" id="type1">
            <div th:each="CarService : ${maintenanceServices}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{services}" th:value="${CarService.id}"
                           id="flexCheck1">
                    <label class="form-check-label" for="flexCheck1" th:text="${CarService.name}"> Car service </label>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#type2"
                aria-expanded="false" aria-controls="type2">
            Диагностика
        </button>
        <div class="collapse" id="type2">
            <div th:each="CarService : ${diagnosticsServices}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{services}" th:value="${CarService.id}"
                           id="flexCheck2">
                    <label class="form-check-label" for="flexCheck2" th:text="${CarService.name}"> Car service </label>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#type3"
                aria-expanded="false" aria-controls="type3">
            Ремонт автомобиля
        </button>
        <div class="collapse" id="type3">
            <div th:each="CarService : ${repairServices}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{services}" th:value="${CarService.id}"
                           id="flexCheck3">
                    <label class="form-check-label" for="flexCheck3" th:text="${CarService.name}"> Car service </label>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#type4"
                aria-expanded="false" aria-controls="type4">
            Кузовной ремонт
        </button>
        <div class="collapse" id="type4">
            <div th:each="CarService : ${bodyRepairServices}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{services}" th:value="${CarService.id}"
                           id="flexCheck4">
                    <label class="form-check-label" for="flexCheck4" th:text="${CarService.name}"> Car service </label>
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit"> Записаться</button>
    </div>
</form>

<div th:insert="~{fragments :: BootstrapJS}"></div>

</body>
</html>